* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  min-width: 500px;
  min-height: 10vh;
  background-color: white;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgb(81 107 152 / 16%);
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  margin: 20px 0;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

img {
  width: 200px;
}

.navLinks {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 1rem;
  font-weight: 700;
  font-size: 20px;
}

.navLinks > a:not(:last-child) {
  color: #3b455a;
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
  font-family: Lato, sans-serif;
  font-weight: bold;
  display: inline-block;
  transition: color 0.3s ease;
}

.navLinks a:hover:not(:last-child) {
  color: #ff8500;
}

.login {
  background-color: #516cf0;
  color: #ffffff;
  padding: 8px 16px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.login:hover {
  background-color: var(--primary-color) !important;
  color: #fff !important;
  border: none;
  text-decoration: none;
}

.logoutButton {
  background-color: #ff4d4d;
  color: #ffffff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.logoutButton:hover {
  background-color: #e04444;
}

@media (max-width: 768px) {
  .navLinks {
    gap: 10px;
    font-size: 0.9rem;
  }

  img {
    height: 30px;
  }
}

/* .header {
  min-width: 500px;
  min-height: 10vh;
  background-color: white;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgb(81 107 152 / 16%);
  justify-content: center;
}
img {
  width: 200px;
}

.container {
  align-items: center;
  width: 100%;
}

.innerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navLinks {
  width: 450px;
  align-items: center;
}
.navLinks > a {
  color: #3b455a;
  text-decoration: none;
  font-size: 15px;
  margin-right: 20px;
  font-family: Lato, sans-serif;
  font-weight: bold;
  display: inline-block;
}

/* .navLinks > a:hover {
  color: #ff8500;
}
.navLinks .login {
  border: 3px solid #516cf0;
}

.navLinks .login:hover {
  background-color: #516cf0;
  color: #ffffff;
}
*/
